.container {
    width: 95%;
    max-width: 95%;
    padding: 5px;
    margin: 0 auto;
    background-color: #8f20b1
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-color: #9a36a3
}

.name {
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
    font-family: Arial;
    letter-spacing: 15px;
}

nav ul {
    display: flex;
    justify-content: center;
    position: relative;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

.btn {
    text-decoration: none;
    font-size: 20px;
    padding: 5px 100px;
    color: #D7D7D7;
    background-color: #832564;
    border-radius: 10px;
}

.main {
    background-image: url(fon1.png);
    width: 55.5%;
    max-width: 55.5%;
    padding: 20%;
    margin: 0 auto;
}

.info {
    width: 95%;
    max-width: 95%;
    padding: 5px;
    margin: 0 auto;
    background-color: #ac1bd8
}

.info:after {
    content: "";
    display: table;
    clear: both;
}

.toxt {
    text-align: left;
    font-family: 'Times New Roman';
    letter-spacing: 5px;
}

.market {
    text-align: right;
    font-family: 'Times New Roman';
    letter-spacing: 5px;
}

p {
    display: inline-block;
}

.btn2 {
    text-decoration: none;
    font-size: 20px;
    padding: 25px 250px;
    color: #D7D7D7;
    background-color: #7ea074;
    border-radius: 250px;
    text-align: center;
}

.leftbtn {
    display: flex;
    justify-content: left;
    flex-direction: column;
    position: relative;
    gap: 20px;
}